{% extends "parts/baseTurnero.view.twig" %}

{% block body %}

    <body class="turneroSalaEspera-contenedor">
        <header> 

            <select id="turneroProfesional-selectProfesional" class="turneroButton">
                <option selected="true" disabled="disabled">Seleccione...</option>
                <option value="Dr. Carlos Meza">Dr. Carlos Meza</option>
                <option value="Dra. Leticia Rojas">Dra. Leticia Rojas</option>
            </select>

            <h2 id="turneroProfesional-profesional">-</h2>

            <button id="turneroProfesional-siguiente" class="turneroButton">Siguiente Turno</button>
             
        </header>

        <main class="turneroProfesional">

            <a href="/turneros">Atrás</a>

            <section class="turnero-screen">
                <h3 id="turneroProfesional-nombreProfesional">-</h3>
                <h2 id="turneroProfesional-nroTurno">-</h2>
                <h3 id="turneroProfesional-nombrePaciente">-</h3>
            </section>

            <audio id="soundAlert" src="../assets/sounds/alert.mp3" preload="auto"></audio>
        </main>   

        {{ parent() }}

    </body>

{% endblock %}