<article>
    <header>
        <h4>Profesional</h4>
    </header>
    <img alt="doctor" src="/assets/images/personas/doctor_1.jpg" />
    <p>{{directivo.nombreDirectivo}}</p>
    <p>{{directivo.cargoDirectivo}}</p>
</article>