<article class="card-persona">
    <img
        class="img-persona"
        src="../assets/images/personas/doctor_2.jpg"
        alt="foto doctor"
    />
    <h4>{{directivo.nombreDirectivo}}</h4>
    <h3>{{directivo.puestoDirectivo}}</h3>
    <ul class="datos-persona">
        <li><b>Email:</b> {{directivo.emailDirectivo}}</li>
    </ul>
</article>