<article>
    <img src="../assets/images/noticias/noticia_1.jpg" alt="imagen-noticia" />
    <h3> {{ noticia.tituloNoticia }} </h3>

    <p> {{ noticia.fechaNoticia }}</p>
    <p>
        {{ noticia.previewCuerpoNoticia }}
    </p>

    <a href="/noticia">Continuar leyendo >></a>
</article>