
.Boton-Llamar {
	display: none;
}

@media screen and (max-width: 768px) {

	.Boton-Llamar {
		display: inline-block;
		padding: 2.25em 1.563em;
		bottom: 14vh;
		right: 2.5vh;
		color: #ffffff;
		border-radius: 1.25em;
		background-color: var(--secondary-color2);
		position: fixed;
		z-index: 199;
		transition: height 0.4s;
  		transition-timing-function: linear;

	}
		
	.BotonCerrado {
		height: 10%;
		width: 20%;		
		transition: width 0.4s, height 0.4s;
	}
		
	.BotonAbierto {
		height: 60%;
		width: 70%;
		padding: 1rem;
		transition: width 0.4s, height 0.4s;
	}

	.Info-Mostrada > h3,
	.BotonAbierto > span {
		display: none;
	}

	.Boton-Llamar article {
		display: flex;
		flex-direction: column;
		align-content: flex-end;
		align-items: flex-start;
		margin-left: 0.5vw;
		margin-right: 0.5vw;
		background: transparent;
	
	}

	.BotonAbierto a {
		font-size: 28px;
		color: #ffffff;
		margin: 3rem 0rem 0rem 0rem;


	}

	.BotonAbierto article {
		display: flex;
		flex-direction: column;
		align-content: flex-end;
		align-items: flex-start;
	}


	.Info-Oculta {
		display: none !important;
	}

	.Info-Mostrada {
		display: block;
		min-height: 250px;
	}

	/* Funcionalidad del Botón */
	.Boton-Llamar button {
		float: right;
		border: 0;
		width: 2rem;
		height: 2rem;
		margin: 0.5rem;
		padding: 0;
		cursor: pointer;
		background-color: transparent;
		/*position: relative;*/
		overflow: hidden;
	}

	.Boton-Llamar button::before,
	.Boton-Llamar button::after {
		display: block;
		position: absolute;
		content: " ";
		width: 2rem;
		height: 0.2rem;
		background-color: white;
		transition-property: all;
		transition-duration: 1s;
		border-radius: 0.2rem;
	}
	
	.BotonCerrar::before {
		transform: translateY(0) rotate(45deg);
		box-shadow: 0 0.6rem 0 transparent;
	}

	.BotonCerrar::after {
		transform: translateY(0) rotate(-45deg);
	}

	/*.BotonCerrar {
		float: left;
	}*/

}