/*PUEDE SER INNECESARIA*/

section.block {
    margin: 0;
    padding: 1em;
    font-size: 1.1em;
    color: #607779;
    letter-spacing: 1px;
    height:auto;
}


.calendar {
    position: absolute;
    min-width: 375px;
    height: 178px;
    top: 100px;
    left: 31px;
    display: flex;
    justify-content: space-around;
    z-index: 10000;
}

.not-today {
    color: var(--secondary-color1);
}


.TableCalendario , tr{
    min-width: 400px;
    color: white;
    text-align: center;
    background-color: var(--principal-color2);
}

table, th, td {
    border: 1px solid var(--secondary-color2);
}

.today {
    color: red;
    font-weight: bold;
}

.turno {
    color: yellow;
    cursor: pointer;
}

/* CHEQUEAR */
input[type="datetime-local"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

