<header>
    <h2>Institucional</h2>
</header>

<section style="display: flex; margin-bottom: 10px">
    <header>
        <h3>Autoridades</h3>
    </header>

    {% include('/cards/institucionalCardHome.view.twig') %}
    {% include('/cards/institucionalCardHome.view.twig') %}
    {% include('/cards/institucionalCardHome.view.twig') %}
    {% include('/cards/institucionalCardHome.view.twig') %}
    {% include('/cards/institucionalCardHome.view.twig') %}

</section>