<section class="cardNoticias">
    <header>
        <h2>Ultimas noticias</h2>
    </header>

    <img alt="Noticia" src="../assets/images/noticias/noticia_1.jpg" />
    <article>
        <h2>{{noticia.tituloNoticia}}</h2>
        <a href="/noticia" style="color: black">
            <p>
            {{noticia.cuerpoNoticia}}
            </p>
        </a>
    </article>
</section>