<section class="serviciosMedicos">
    <h2>
        <span class="ambulancia-icon-36"></span>
        <span class="stethoscope-icon-36"></span>
        Servicios Médicos
    </h2>

    <hr />

    <input
        type="search"
        placeholder="Buscar un profesional o una especialidad"
    />

    <h3>Servicios médicos mas buscados</h3>

    <section>
        <header>
            <h4>Especialidades</h4>
        </header>

        <article>
            <header>
                <h4>Especialidades</h4>
            </header>
            <p>1 - Cardiología</p>
            <p>2 - Ortopedia y Traumatología</p>
            <p>3 - Cirugía Cardiovascular</p>
            <p>4 - Ginecología</p>
            <p>5 - Cirugía General</p>
            <p>6 - Oncología</p>
        </article>
    </section>

    <section>
        <header>
            <h4>Profesionales</h4>
        </header>
        <article>
            <header>
                <h4>Profesionales</h4>
            </header>
            <p>1 - Juan Pérez</p>
            <p>2 - José Gómez</p>
            <p>3 - Julio Rodríguez</p>
            <p>4 - Marcos González</p>
            <p>5 - Martin Peña</p>
            <p>6 - Franco Martínez</p>
        </article>
    </section>
</section>