<html>
    <head>
        {{ include('/parts/head.view.twig') }}
    </head>
    <body>
        <header class="headerImpresion">
            {{ include('/parts/header.view.twig') }}
        </header>
        
        <main class="listadoTurnos">
            <section class="fichas">
                <h3>Turnos del usuario</h3>

                    {% for turno in turnos %}
                        {{ include('/cards/turnoCard.view.twig') }}
                    {% endfor %}

            </section>
        </main>

        <footer>
            {{ include('/parts/footerImpresion.view.twig') }}
        </footer>
    </body>
</html>