<html>
    <head>
        {{ include('/parts/head.view.twig') }}
    </head>
    <body>
        <header>
            {{ include('/parts/header.view.twig') }}
            {{ include('/parts/nav.view.twig') }}
        </header>
        <main>
            {{ include('/parts/turnero.view.twig') }}

            <section class="noticia">
                <img src="../assets/images/noticias/noticia_1.jpg" alt="imagen-noticia" />

                <h2>Titulo de la noticia</h2>

                <p>21 de Enero de 2021</p>

                <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim....Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim....Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim....Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim....Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed
                do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
                enim....
                </p>
            </section>

            {% include('/parts/navMobile.view.twig') %}
        </main>
        <footer>
            {% include('/parts/footer.view.twig') %}
        </footer>
    </body>
</html>