{% extends "parts/base.view.twig" %}

{% block main %}

<main class="homeContainer">

            <h2> - VISTA TEMPORAL - </h2>
            
            <h3>
                USUARIO CREADO
            </h3>


        </main>


{{ parent() }}

{% endblock %}