<html>
    <head>
        {{ include('/parts/head.view.twig') }}
    </head>
    <body>
        <header>
            {{ include('/parts/header.view.twig') }}
            {{ include('/parts/nav.view.twig') }}
        </header>    
        
        <main>
            <ul class="turneros">
                <li><a class="turneroButton" href="/turneros/salaEspera">Sala de Espera</a></li>
                <li><a class="turneroButton" href="/turneros/salaEsperaAutomatica">Sala de Espera Automatica</a></li>
                <li><a class="turneroButton" href="/turneros/profesional">Profesional</a></li>
                <li><a class="turneroButton" href="/turneros/paciente">Paciente</a></li>
            </ul>
        </main>   

            {% include('/parts/navMobile.view.twig') %}
        </main>
        <footer>
            {% include('/parts/footer.view.twig') %}
        </footer>
    </body>
</html>