<section class="turnero-flotante">
    <header>
        <h2>Turnos</h2>
    </header>
    <ul class="menu-turnero" data-animation="to-top">
        <li>
            <a href="/solicitarTurno">
                <span class="sacar-turno-icon-50"></span>
                <span>Nuevo Turno</span>
            </a>
        </li>
        <hr/>
        <li>
            <a href="/listadoTurnos">
                <span class="listado-turnos-icon-50"></span>
                <span>Listar Turnos</span>
            </a>
        </li>
    </ul>
</section>